<?xml version = "1.0" encoding = "UTF-8"?>
<launch>
  <arg name="log_type" default="screen"/>

  <arg name="teleop" default="true"/>

  <!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find phantomx_arm_description)/urdf/pincher_robot.urdf.xacro" />

  <!-- Robot base -->
  <include file="$(find phantomx_arm_control)/launch/pincher.launch">
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg log_type)">
    <!-- <param name="publish_frequency" type="double" value="50" /> -->
  </node>

  <group if="$(arg teleop)">
    <!-- <include file="$(find caster_base)/launch/include/teleop.launch.xml" /> -->
  </group>
</launch>