SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AL02B9P2", MODE:="0666", GROUP:="dialout", SYMLINK:="dynamixel_bus"
