<?xml version = "1.0" encoding = "UTF-8"?>
<launch>

  <arg name="arm" default="pincher"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find phantomx_arm_description)/urdf/$(arg arm)_robot.urdf.xacro" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find phantomx_arm_description)/viz/model.rviz" />

</launch>
